button {
    width: 13.4rem;
    height: 4.2rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.9rem;
    letter-spacing: -0.06em;
    border: none;
    border-radius: 50px;
    background: $white;
    transition: .3s;
    cursor: pointer;
    &:hover {
        border: 1px solid $white;
        background: transparent;
    }
}