h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 2.4rem;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: $white;
}

p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: -0.04em;
    color: $white;
}