// Brand
$primary: #e38826;
$secondary: #006970;
$tertiary: #004241;
// Neutral
$white: #ffffff;
$black: #000000;
// paragraphs
$tranparent-white: hsla(0, 0%, 100%, 0.75);
// background, headings, buttons
$light-gray: hsl(0, 0%, 95%);